
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
/*img {vertical-align: middle;}*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin:auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0%;
  border-radius: 50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size:72px;
  font-weight: bolder;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-shadow: white 50px 9px 20px ;
  -webkit-animation: text 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes text {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes text {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 100px) {
  .prev, .next,.text {font-size: 10px}
}
#nav{
    background-color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    margin-bottom: auto;
    top: 0;
    left: 0;
}
ul{
    display: flex;
    justify-content: space-evenly;
    
}
li{
    padding: 5px;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: rebeccapurple;
}
a:hover{
    border-bottom:5px solid #bbb;
}
iframe{
  height:800px;
}
.mySlides{
  -webkit-animation: bg-pan-tr 8s both;
	        animation: bg-pan-tr 8s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-9-22 19:6:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-tr
 * ----------------------------------------
 */
 @-webkit-keyframes bg-pan-tr {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes bg-pan-tr {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}


h1{
    text-align: center;
}
#logo{
    float: left;
}
#logo>i{
  margin:20px;
  padding: 0 auto;
  cursor: pointer;
  font-size: 30px;
  line-height: 80px;
}
#logo>a:hover{
    border-bottom:none;

}
@media  only screen and (max-width:100px){
    #logo>i{
      padding-left:30px;
      font-size:20px;
    }
    ul{
      margin-right: 20px;
    }
    li>a{
      font-size:10px;
    }
    h3{
    font-size:10px;
    font-weight:normal;
    margin: auto;
    float: right;
    width: 100px;
    }
    img{
      width:50%
    }

  
}
#vicar{
    padding: 30px;
    border: #717171 solid  3px;
    border-radius: 20px;
    width: auto;
    margin: 50px;
}
.name{
    background-color: rebeccapurple;
    font-weight: bolder;
    color:white;
    width: fit-content;
    padding: 20PX;
    position: absolute;
    margin-top: 20%;

}
h3{
  float: right;
  padding: 20px;
  width: 600px;
}
#myBtn{
  display: none;
  padding: 15px;
  margin: 20px;
  position: fixed;
  right:  30px;
  bottom: 20px;
  z-index: 99;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 15%;
  font-size: 18px;
}
#myBtn:hover{
  background-color: rgb(205, 49, 69);
  opacity: 1.5;
}
h2{
  background-color: rebeccapurple;
  margin: 0%;
  width: 100%;
  text-align: center;
  color: white;
}
#event>a{
  font-size:200px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: rebeccapurple;
  color: black;
  float: left;
  
}
#event>a>i:hover{
    -webkit-animation: vibrate-1 0.3s linear infinite both;
            animation: vibrate-1 0.3s linear infinite both;
  
}

/* ----------------------------------------------
 * Generated by Animista on 2020-9-22 18:32:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
#map{
  padding-left:300px
}
#footer{
  display: inline-block;
  padding: 20px;
  background-color: rebeccapurple;
  width: 100%;
  text-align: center;
  color: white;
}
#footer>a{
  padding: 20px;
  color: white;
  font-size: 20px;
}
